.container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
}

aside {
	flex-grow: 1;
	background-color: tomato;
}

main {
	flex-grow: 5;
	background-color: blanchedalmond;
}

aside a {
	color: white;
}